*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    min-height: 100vh;
}
.top{
    width: 100%;
    min-height: 60vh;
    background-image: url(img/bgphoto.jpg);
    background-size: cover;
    background-position: center;
}
.top.overly{
    position: relative;
    width: 100%;
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.488);
}
.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 10vh;
    color: white;
    bottom: 5%;

} 
i{
    background-color: black;
    margin-right: 10px;
}
.text h1{
    font-weight: 600;
    font-size: 4vw;
}

.text .image{
    background-image: url(img/1pic.jpg);
    background-size: cover;
    margin-top: 90px;
    justify-content: center;
    background-position: center; 
    height: 300px;
    width: 220px;
} 
.rtext{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between ;
}
.rtext p{
    font-size: 20px ;
    color:whitesmoke;

}
.bottom{
    display: flex;
    width: 100%;
    min-height: 40vh;
}
.b1{
    width: 30%;
    min-height: inherit;
    background-image: url(img/b1.jpg);
    background-size: cover;
    background-position: center;
}
.b1 h1{
    text-align: center;
    padding: 30px;
}
.b1 p{
   color: rgb(8, 8, 8);
   text-align: center;
   padding: 15px; 
}
.b2{
    width: 30%;
    min-height: inherit;
    display: flex;
    flex-direction: column;
}
.b2 .up{
     width: 100%;
     min-height: 20vh;
     background-image: url(img/b2.jpg);
     background-size: cover;
     background-position: center;
}
.b2 .up h1{
    text-align: center;
    padding: 30px;
}
.b2 .up p{
    color: white;
    text-align: center;
    padding: 15px;
}
.b2 .down{
    width: 100%;
    min-height: 20vh;
    background-image: url(img/b2.1.jpg);
    background-size: cover;
    background-position: center;
}
.b2 .down .overly{
    position: relative;
    width: 100%;
    min-height: 20vh;
    background-color: rgba(255, 255, 255, 0.352);
}
.b3{
    width: 40%;
    min-height: inherit;
    background-image: url(img/b3New.avif);
    background-size: cover;
    background-position: center;
}
.b3 .overlay{
    justify-content: right;
    position: relative;
    margin-left: 72%;
    margin-top: 60px;
    width: 50%;
    height: 100%;
    padding: 4vw 3vh ;
    font-style: italic;
}
.b3 .overlay p{
    padding: 1.2vh;
    
}
@media(max-width:700px){
    .rtext{
        flex-direction: column;
    }
    .b3 .overlay{
        width: 100%;
        margin-left: initial;
    }
}
@media(max-width:500px){
    .text{
        flex-direction: column;
        align-items: flex-start;

    }
    .text h1{
        font-size: 5vh;
    }
    .text image{
        height:200px ;
        width: 140px;
        margin-top: 20px;
    }
    .rtext{
       flex-direction: column;
       align-items: flex-start; 
    }
    .rtext p{
        margin-top: 10px;
    }
    .icon{
        margin-top: 10px;
    }
    .bottom{
        flex-direction: column;
        align-items: flex-start;
    }
    .b1{
        width: 100%;
        min-height: 30vh;
    }
    .b2{
        width: 100%;
    }
    .b2 .up{
        min-height: 30vh;
    }
    .b3{
        width: 100%;
        min-height: 30vh;
        background-position: left;
    }

}

